body,html{
	width: 100%;
	
}
.clearfix :after{
	content: "";
	display: block;
	clear:both;
}
ul{
	margin: 0;
}
nav {
	background:rgba(0,0,0,0.2);
	height: 50px;
}
#banner {

	height: 700px;
}
.main-wrapper{
	background:url(../img/2.jpeg);	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
nav ul {
	margin: 0;
	list-style: none;
	float: right;
}

nav ul li a {
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color:  #078494;
}

.logo {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	float: left;
	line-height: 50px;
	padding-left: 20px;
}
.logo a{
	text-decoration: none;
	outline: none;
	color: #078494;
}
nav ul li {
	display: inline;
	line-height: 50px;
	margin-right: 20px;

}

#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
#banner .inner h1 {
	margin: 0;
	padding: 20px;
	color: #7c4404;
}

#banner .inner .sub-heading {
	line-height: 30px;
	margin: 30px;
}

button {
	border: none;
	background: rgba(0,0,0,0.2);
	color: #eee;
	outline: none;
}

#banner button {
	padding: 14px 40px;
	font-size: 20px;
	border-radius:6px ;
	letter-spacing: 4px;
	background: rgba(0,0,0,0.2);
	border: 1px solid #078494;
	
}
#banner button:hover{
	background: rgba(0,0,0,0.8);
	color: white;
}
#banner .inner .more {
	margin-top: 200px;
}
.inner h1{
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
}
.green-section{
	
	padding: 100px 0;
	text-align: center;
	background: #3da4a0;
	color: white;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;	
}
.green-section .hr{
	background: #078494;
	width: 60%;
	margin: 20px auto;
}
.sub-heading{
	font-size: 18px;
}
.green-section .icon-group .icon{
	width: 80px;
	height: 80px;
	background: #0D6F7C;
	display: inline-block;
    margin: 30px;
    color: #FFFFFF;  
    border-radius: 50%;
    font-size: 25px;
}
.icon-group .icon p{
	width: 100px;
	height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 0 0 0 -10px;
    font-size: 15px;
} 
.icon-group .icon{
		text-align: center;
		line-height: 80px;
}
.gray-section .img-section{
	width: 45%;
	height: 450px;
	
}
.img-section img{
	width: 100%;
	height: 100%;
}
.gray-section .text-section{
	width: 55%;
}
.article-preview > div{
	float: left;
}
.article-preview:after{
	content: "";
	display: block;
	clear: both;
}
.text-section{
	position: relative;
	top: 30px;
	left: 0px;
	padding-left: 20px;
	min-width:450px;
}
.text-section h2{
	margin-bottom: 20px;
	color: white;
	font-size: 24px;
	font-family: "微软雅黑";
}
.text-section p{
	
	font-size: 18px;
	letter-spacing: 1px;
	overflow: hidden;
	word-break: break-all;
	width: 75%;
	margin: 20px auto;
}
.article-preview{
	 font-size: 0;
	 background:#353a44;
	 color: white;
}
.purple-section{
	padding: 80px;
	color: white;
	background: #575695;
	height:1000px;
}
.gray-section .hr{
	width: 60%;
	background: #303339;
}
.purple-section .heading-wrapper{
	text-align: center;
	
}
.purple-section .hr{
	width: 60%;
	background: #373259;
}
.card-group{
	width: 80%;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.card{
	float: left;
	width: 30%;
	min-height: 200px;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
		
}
@keyframes move{
	from{margin-top: 0;}
	to{margin-top: -15px;}
}
.card:hover{
	box-shadow: 5px 8px rgba(0,0,0,.5);
	animation: move 2s;
}
.card p{
	font-size: 16px;
	letter-spacing: 1px;
	text-align: justify;
	word-break: break-all;
    width: 60%;
    margin: 50px auto;
}
.card:first-child{
	background: rgba(0,0,0,.05);
}
.card:nth-child(2){
	background: rgba(0,0,0,.09);
}
.card:nth-child(3){
	background: rgba(0,0,0,.13);
}
.card:nth-child(4){
	background: rgba(0,0,0,.17);
}
footer{
	color: #FFFFFF;
	min-height: 200px;
	text-align: center;
}
.share-group{
	display: block;
	min-width: 800px;
	margin: 0 auto;
	padding: 50px;
}
.share-group li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 50px;
	width: 80px;
	height: 80px;
	/*border: 5px solid orange;*/
	transform: rotate(45deg);
	background-color: orange;
	
}
.share-group li p{
	transform: rotate(-45deg);
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	color: white;
	
}
.copy{
	padding: 20px;
}
.gray-section .section-Title{
	background: #353a44;
	margin: 0;
	padding-bottom: 50px;
	padding-top:100px;
	text-align: center;
	color: white;
}
.gray-section .section-Titles{
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
}
.gray-section .section-sTitle{
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
}
